* {
  font-family: 'Roboto', sans-serif;
}
body {
    background-color: black;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:  center;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.right {
  right: 20% !important;
}
.middle {
  bottom: 32.5%!important;
  right: 30%!important;
}
video {
    width: 80%;
    height: 80%;
}
#ondertiteling p:not(.red, .car, .car2, .car3) {
    display: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.508);
    font-size: 20px;
    position: absolute;
    z-index: 10;
    bottom: 20%;
    right: 40%;
    padding: 1em;
    border-radius: 10px;
  }

.car {
    position: absolute;
    left: 5%;
    bottom: 50%;
    color: white;
}

.car2 {
position: absolute;
bottom: 50%;
left: 60%;
color: white;
}

.car3 {
    position: absolute;
    bottom: 50%;
    left: 50%;
    color: white;
}


@keyframes vibrate {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-5px) rotate(-2deg);
    }
    40% {
      transform: translateX(5px) rotate(2deg);
    }
    60% {
      transform: translateX(-5px) rotate(-2deg);
    }
    80% {
      transform: translateX(5px) rotate(2deg);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .vibrating {
    animation: vibrate 0.3s infinite;
  }
  
  .falling1 {
    position: absolute;
    left: 10%;
    bottom: 10%;
  }
  .falling2 {
    position: absolute;
    left: 15%;
    bottom: 70%;
  }
  .falling3 {
    position: absolute;
    right: 10%;
  }


  .red{
    z-index: -1;
    position: absolute;
    width: 75%;
    height: 65%;
    right: 12%;
    bottom: 11%;
    font-size: 50px;
    box-shadow: 0px 0px 100px 60px rgba(243, 67, 13, 0.503);
  }
  .red2{
    z-index: -12!important;
    position: absolute;
    width: 20%;
    height: 55%!important;
    left: 11%;
    bottom: 15%!important;
    font-size: 50px;
    box-shadow: 0px 0px 100px 60px rgba(236, 194, 4, 0.503);
  }

  .red3{
    z-index: -12!important;
    position: absolute;
    width: 70%;
    height: 10%!important;
    left: 11%;
    bottom: 15%!important;
    font-size: 50px;
    box-shadow: 0px 0px 100px 60px rgba(236, 194, 4, 0.503);
  }

  .gun{
    z-index: -12!important;
    position: absolute;
    width: 20%;
    height: 10%!important;
    right: 11%!important;
    bottom: 15%!important;
    font-size: 50px;
    box-shadow: 0px 0px 100px 60px rgba(236, 194, 4, 0.503);
  }
  .gun2{
    z-index: -12!important;
    position: absolute;
    width: 20%;
    height: 10%!important;
    right: 30%!important;
    bottom: 15%!important;
    font-size: 50px;
    box-shadow: 0px 0px 100px 60px rgba(236, 194, 4, 0.503);
  }

  .gun3{
    z-index: -12!important;
    position: absolute;
    width: 20%;
    height: 10%!important;
    left: 20%!important;
    bottom: 15%!important;
    font-size: 50px;
    box-shadow: 0px 0px 100px 60px rgba(236, 194, 4, 0.503);
  }